<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Боранова Анна Михайловна</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}" />
    <link rel="stylesheet" href="{% static 'foundation/css/subnav.css' %}" />
</head>

<body>

<script type="text/javascript" src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'foundation/js/vendor/foundation.js' %}"></script>

<header class="subnav-hero-section">
    <h1 class="subnav-hero-headline">Боранова Анна Михайловна</h1>
    <ul class="subnav-hero-subnav">
        <!-- About -->
        {% if request.path == "/" %}
        <li><a href="{% url 'about' %}" class="is-active">О себе</a></li>
        {% else %}
        <li><a href="{% url 'about' %}">О себе</a></li>
        {% endif %}
        <!-- Achievements -->
        {% if request.path == "/achievements/" %}
        <li><a href="{% url 'achievements' %}" class="is-active">Достижения</a></li>
        {% else %}
        <li><a href="{% url 'achievements' %}">Достижения</a></li>
        {% endif %}
        <!-- Photos -->
        {% if request.path == "/photos/" %}
        <li><a href="{% url 'photos' %}" class="is-active">Фотогалерея</a></li>
        {% else %}
        <li><a href="{% url 'photos' %}">Фотогалерея</a></li>
        {% endif %}
        <!-- Videos -->
        {% if request.path == "/videos/" %}
        <li><a href="{% url 'videos' %}" class="is-active">Видеоуроки</a></li>
        {% else %}
        <li><a href="{% url 'videos' %}">Видеоуроки</a></li>
        {% endif %}
        <!-- Files -->
        {% if request.path == "/files/" %}
        <li><a href="{% url 'files' %}" class="is-active">Методическая копилка</a></li>
        {% else %}
        <li><a href="{% url 'files' %}">Методическая копилка</a></li>
        {% endif %}
        <!-- Contacts -->
        {% if request.path == "/contacts/" %}
        <li><a href="{% url 'contacts' %}" class="is-active">Контакты</a></li>
        {% else %}
        <li><a href="{% url 'contacts' %}">Контакты</a></li>
        {% endif %}
    </ul>
</header>

<div class="callout large">
    <div class="row column text-center">
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>
</html>